@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
    --line-offset: 150px;
    --line-width: calc(var(--line-offset) / 2 - 1);
    --line-opacity: 0.15;
    --line-color: rgba(0, 0, 0, calc(var(--line-opacity) * 2));
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  body::-webkit-scrollbar {
    width: 0.5rem;
  }

  body::-webkit-scrollbar-track {
    background: linear-gradient(180deg, transparent, black, transparent);
  }

  .tweet__container:last-child .timeline__line {
    border: none;
  }
  .headline-container:before {
    --line-offset: 150px;
    --line-width: calc(var(--line-offset) / 2 - 1);
    --line-opacity: 0.15;
    --line-color: rgba(0, 0, 0, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: calc(100% + var(--line-offset));
    left: calc(var(--line-offset) / -2);

    top: 0px;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 5px 1px;
    -webkit-mask: linear-gradient(to left, #000 50%, transparent),
      linear-gradient(to right, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .dark .headline-container:before {
    --line-offset: 150px;
    --line-width: calc(var(--line-offset) / 2 - 1);
    --line-opacity: 0.15;
    --line-color: rgba(255, 255, 255, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: calc(100% + var(--line-offset));
    left: calc(var(--line-offset) / -2);
    top: 0px;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 5px 1px;
    -webkit-mask: linear-gradient(to left, #fff 30%, transparent),
      linear-gradient(to right, #fff 30%, transparent),
      linear-gradient(#fff 30%, #fff 30%);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .headline-container::after {
    --line-offset: 150px;
    --line-width: calc(var(--line-offset) / 2 - 1);

    content: "";
    position: absolute;
    width: calc(100% + var(--line-offset));
    left: calc(var(--line-offset) / -2);
    bottom: 0;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 5px 1px;
    -webkit-mask: linear-gradient(to left, #000 50%, transparent),
      linear-gradient(to right, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .dark .headline-container::after {
    --line-offset: 150px;
    --line-width: calc(var(--line-offset) / 2 - 1);
    --line-opacity: 0.15;
    --line-color: rgba(255, 255, 255, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: calc(100% + var(--line-offset));
    left: calc(var(--line-offset) / -2);
    bottom: 0;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 5px 1px;
    -webkit-mask: linear-gradient(to left, #000 50%, transparent),
      linear-gradient(to right, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .paragraph-container::after {
    --line-offset: 150px;
    --line-width: calc(var(--line-offset) / 2 - 1);

    content: "";
    position: absolute;
    width: calc(100% + var(--line-offset));
    left: calc(var(--line-offset) / -2);
    bottom: 0px;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 5px 1px;
    -webkit-mask: linear-gradient(to left, #000 50%, transparent),
      linear-gradient(to right, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .dark .paragraph-container::after {
    --line-offset: 150px;
    --line-width: calc(var(--line-offset) / 2 - 1);
    --line-opacity: 0.15;
    --line-color: rgba(255, 255, 255, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: calc(100% + var(--line-offset));
    left: calc(var(--line-offset) / -2);
    bottom: 0px;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 5px 1px;
    -webkit-mask: linear-gradient(to left, #000 50%, transparent),
      linear-gradient(to right, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
  }
  .button-container::after {
    --line-offset: 150px;
    --line-width: calc(var(--line-offset) / 2 - 1);
    content: "";
    position: absolute;
    width: calc(100% + var(--line-offset));
    left: calc(var(--line-offset) / -2);
    bottom: 0px;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 5px 1px;
    -webkit-mask: linear-gradient(to left, #000 50%, transparent),
      linear-gradient(to right, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
  }
  .dark .button-container::after {
    --line-offset: 150px;
    --line-width: calc(var(--line-offset) / 2 - 1);
    --line-opacity: 0.15;
    --line-color: rgba(255, 255, 255, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: calc(100% + var(--line-offset));
    left: calc(var(--line-offset) / -2);
    bottom: 0px;
    height: 1px;
    background: linear-gradient(
      to right,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 5px 1px;
    -webkit-mask: linear-gradient(to left, #000 50%, transparent),
      linear-gradient(to right, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }

  .left-side-line::before {
    --line-offset: 200px;
    --line-height: calc(var(--line-offset) 2 * -1);
    content: "";
    position: absolute;
    width: 1px;
    left: 0;
    top: -100px;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .dark .left-side-line::before {
    --line-offset: 200px;
    --line-height: calc(var(--line-offset) 2 * -1);
    --line-opacity: 0.15;
    --line-color: rgba(255, 255, 255, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: 1px;
    left: 0;
    top: -100px;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .right-side-line::after {
    --line-offset: 200px;
    --line-height: calc(var(--line-offset) / 2 * -1);
    content: "";
    position: absolute;
    width: 1px;
    top: -100px;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
  }
  .dark .right-side-line::after {
    --line-offset: 200px;
    --line-height: calc(var(--line-offset) / 2 * -1);
    --line-opacity: 0.15;
    --line-color: rgba(255, 255, 255, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: 1px;
    top: -100px;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
  }

  .left-side-big-line::before {
    --line-offset: 300px;
    --line-height: calc(var(--line-offset) 2 * -1);
    content: "";
    position: absolute;
    width: 1px;
    left: 0;
    top: -75px;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .dark .left-side-big-line::before {
    --line-offset: 300px;
    --line-height: calc(var(--line-offset) 2 * -1);
    --line-opacity: 0.15;
    --line-color: rgba(255, 255, 255, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: 1px;
    left: 0;
    top: -75px;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .left-side-big-line::after {
    --line-offset: 300px;
    --line-height: calc(var(--line-offset) / 2 * -1);
    content: "";
    position: absolute;
    width: 1px;
    top: -75px;
    right: 0;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
  }
  .dark .left-side-big-line::after {
    --line-offset: 300px;
    --line-height: calc(var(--line-offset) / 2 * -1);
    --line-opacity: 0.15;
    --line-color: rgba(255, 255, 255, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: 1px;
    top: -75px;
    right: 0;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
  }

  .available-left-side-line::before {
    --line-offset: 150px;
    --line-height: calc(var(--line-offset) 2 * -1);
    content: "";
    position: absolute;
    width: 1px;
    left: 0;
    top: -70px;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .available-right-side-line::after {
    --line-offset: 150px;
    --line-height: calc(var(--line-offset) / 2 * -1);
    content: "";
    position: absolute;
    width: 1px;
    top: -70px;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
  }
  .dark .available-left-side-line::before {
    --line-offset: 150px;
    --line-height: calc(var(--line-offset) 2 * -1);
    --line-opacity: 0.15;
    --line-color: rgba(255, 255, 255, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: 1px;
    left: 0;
    top: -70px;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
    overflow: hidden;
  }
  .dark .available-right-side-line::after {
    --line-offset: 150px;
    --line-height: calc(var(--line-offset) / 2 * -1);
    --line-opacity: 0.15;
    --line-color: rgba(255, 255, 255, calc(var(--line-opacity) * 2));
    content: "";
    position: absolute;
    width: 1px;
    top: -70px;
    height: calc(100% + var(--line-offset));
    background: linear-gradient(
      to bottom,
      var(--line-color),
      var(--line-color) 50%,
      transparent 0,
      transparent
    );
    background-size: 1px 5px;
    -webkit-mask: linear-gradient(to top, #000 50%, transparent),
      linear-gradient(to bottom, #000 50%, transparent),
      linear-gradient(#000, #000);
    -webkit-mask-composite: destination-in;
    mask-composite: exclude;
  }

  @media screen and (max-width: 768px) {
    .headline-container:before {
      --line-offset: 45px;
      --line-height: calc(var(--line-offset) / 2 * -1);
      width: calc(100% + var(--line-offset));
      left: calc(var(--line-offset) / -2);
    }
    .headline-container::after {
      --line-offset: 45px;
      --line-height: calc(var(--line-offset) / 2 * -1);
      width: calc(100% + var(--line-offset));
      left: calc(var(--line-offset) / -2);
    }
    .paragraph-container::after {
      --line-offset: 45px;
      --line-height: calc(var(--line-offset) / 2 * -1);
      width: calc(100% + var(--line-offset));
      left: calc(var(--line-offset) / -2);
    }
    .button-container::after {
      --line-offset: 45px;
      --line-height: calc(var(--line-offset) / 2 * -1);
      width: calc(100% + var(--line-offset));
      left: calc(var(--line-offset) / -2);
    }
    .left-side-big-line::after {
      top: -50px;
    }
    .left-side-big-line::before {
      top: -50px;
    }
    .dark .headline-container:before {
      --line-offset: 45px;
      --line-height: calc(var(--line-offset) / 2 * -1);
      width: calc(100% + var(--line-offset));
      left: calc(var(--line-offset) / -2);
    }
    .dark .headline-container::after {
      --line-offset: 45px;
      --line-height: calc(var(--line-offset) / 2 * -1);
      width: calc(100% + var(--line-offset));
      left: calc(var(--line-offset) / -2);
    }
    .dark .paragraph-container::after {
      --line-offset: 45px;
      --line-height: calc(var(--line-offset) / 2 * -1);
      width: calc(100% + var(--line-offset));
      left: calc(var(--line-offset) / -2);
    }
    .dark .button-container::after {
      --line-offset: 45px;
      --line-height: calc(var(--line-offset) / 2 * -1);
      width: calc(100% + var(--line-offset));
      left: calc(var(--line-offset) / -2);
    }
    .dark .left-side-big-line::after {
      top: -50px;
    }
    .dark .left-side-big-line::before {
      top: -50px;
    }

    .dark .available-left-side-line::before {
      left: -100px;
      top: -15px;
    }
    .dark .available-right-side-line::after {
      right: -100px;
      top: -85px;
    }
    .available-left-side-line::before {
      left: -100px;
      top: -15px;
    }
    .available-right-side-line::after {
      right: -100px;
      top: -85px;
    }
  }
}
